{padding: 0;margin: 0;}
.container{height: 100vh;
            width: 100v 2px;
            color: #444;
            background:#ffe7e3;
            text-align: center}
.love,.yes,.no{
    padding-top:20%;
}
h2{font-size: 72px;margin-bottom: 30px;}
.love span{color:rgba(253, 54, 87, 0.753);}
.love a{text-decoration: none;
background: #eee;
padding: 15px;
margin: 5px 10px;
border: 3px solid #ddd;
border-radius: 10px;
}
#no{color: red;}
#yes{color: rgb(7, 196, 7);}
img{height: 40px; width: 40px;
    animation: heart 4s linear infinite;;}

@keyframes heart {
    0%{transform: scale(.5);}
    50%{transform: scale(1.3);}
    100%{transform: scale(.5);}
}